<div class="row" id="teams-games">
    <h1><%= @team.name %> - <i><%= League.find(@team.league_id).sport %></i></h1>
        <%= render partial:"players/showplayers" %>

        <% if @team.games.count > 0 %>
          <%= render partial:"games/showgames" %>
        <% end %>

        <% if logged_in? %>
            <% if current_user == @team.players.find_by(coach: true) %>
                <div id="add-player-form">
                  <%= render partial:"players/addplayer" %>
                </div>

                <% if @league.sport == "Basketball" %>
                    <% if @team.players.length >= 6 %>
                        <%= render partial:"games/addgame" %>
                    <% else %>
                        <h2><small>Must have at least 6 players to start a game.</small></h2>
                    <% end %>
                <% elsif @league.sport == "Football" %>
                    <% if @team.players.length >= 12 %>
                        <%= render partial:"games/addgame" %>
                    <% else %>
                        <h2><small>Must have at least 12 players to start a game.</small></h2>
                    <% end %>
                <% elsif @league.sport == "Hockey" %>
                    <% if @team.players.length >= 0 %>
                        <%= render partial:"games/addgame" %>
                    <% else %>
                        <h2><small>Must have at least 6 players to start a game.</small></h2>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
</div>
