<h1><%= @team.name %> - <i><%= League.find(@team.league_id).sport %></i></h1>
<% @team.players.each do |player| %>
<li><%= player.name %> <br>
	<i>Phone Number: <%= player.phone %></i></li>
	<% end %>


	<% @team.games.each do |game| %>
	<p>Game: <%= game.id %><br>
		Location: <%= game.location %><br>
		Date: <%= game.date %><br></p>
		<p><%= link_to 'Game details', league_game_path(@league, game) %></p>
		<% end %>



	<% if current_user.coach == true %>
			<h2>Add Player to Team: </h2>
			<%= form_for :player, url: league_team_players_path(@league, @team) do |f| %>
				<%= f.label :name %>
				<%= f.text_field :name %>

				<%= f.label :email %>
				<%= f.email_field :email %>

				<%= f.label :phone %>
				<%= f.telephone_field :phone %>

				<%= f.hidden_field :team, :value => @team.id %>

				<%= f.submit "Create" %>
			<% end %>




		<% if @league.sport == "Basketball" && @team.players.length > 6 %>
			<h2>Create Game: </h2>
			<%= form_for :game, url: league_games_path(@league) do |f| %>
			<%= f.label :home_team %>
			<%= f.text_field :home_team %>

			<%= f.label :away_team %>
			<%= f.text_field :away_team %>

			<%= f.label :address %>
			<%= f.text_field :address %>

			<%= f.label :date %>
			<%= f.date_select :date %>

			<%= f.submit "Register" %>
			<% end %>

		<% elsif @league.sport == "Football" && @team.players.length > 1 %>
			<h2>Create Game: </h2>
			<%= form_for :game, url: league_games_path(@league) do |f| %>
			<%= f.label :home_team %>
			<%= f.text_field :home_team %>

			<%= f.label :away_team %>
			<%= f.text_field :away_team %>

			<%= f.label :address %>
			<%= f.text_field :address %>

			<%= f.label :date %>
			<%= f.text_field :date, placeholder: "yyyy-mm-dd" %>

			<%= f.submit "Create" %>
			<% end %>

		<% elsif @league.sport == "Hockey" && @team.players.length > 10 %>
			<h2>Create Game: </h2>
			<%= form_for :game, url: league_games_path(@league) do |f| %>
			<%= f.label :home_team %>
			<%= f.text_field :home_team %>

			<%= f.label :away_team %>
			<%= f.text_field :away_team %>

			<%= f.label :address %>
			<%= f.text_field :address %>

			<%= f.label :date %>
			<%= f.date_select :date %>

			<%= f.submit "Create" %>
			<% end %>
		<% end %>
	<% end %>
