<div class="row" id="teams-games">
    <h1><%= @team.name %> - <i><%= League.find(@team.league_id).sport %></i></h1>
        <%= render partial:"players/showplayers" %>

        <% if @team.games.count > 0 %>
        <%= render partial:"games/showgames" %>
        <% end %>

        <% if logged_in? %>
            <% if current_user.coach == true && @team.players.include?(current_user) %>
                <%= render partial:"players/addplayer" %>
                <% if @league.sport == "Basketball" && @team.players.length > 6 %>
                <%= render partial:"games/addgame" %>
                <% elsif @league.sport == "Football" && @team.players.length > 1 %>
                <%= render partial:"games/addgame" %>
                <% elsif @league.sport == "Hockey" && @team.players.length > 10 %>
                <%= render partial:"games/addgame" %>
                <% end %>
            <% end %>
        <% end %>
</div>
