<div class="row" id="teams-games">
    <h1><%= @team.name %> - <i><%= League.find(@team.league_id).sport %></i></h1>
        <%= render partial:"players/showplayers" %>

        <% if @team.games.count > 0 %>
          <%= render partial:"games/showgames" %>
        <% end %>

        <% if logged_in? %>
            <% if current_user == @team.players.find_by(coach: true) %>
                <div id="add-player-form">
                  <%= render partial:"players/addplayer" %>
                </div>

                <% if @league.sport == "Basketball" && @team.players.length > 6 %>
                <%= render partial:"games/addgame" %>
                <% elsif @league.sport == "Football" && @team.players.length > 1 %>
                <%= render partial:"games/addgame" %>
                <% elsif @league.sport == "Hockey" && @team.players.length > 0 %>
                <%= render partial:"games/addgame" %>
                <% end %>
            <% end %>
        <% end %>
</div>
