<div id="game-form">
<h2 class="form-group">Create Game:</h2>
  <%= form_for :game, url: league_games_path(@league) do |f| %>
    <div class="form-group">
      <%= f.label :home_team %>
      <%= f.select(:home_team) do %>
        <% @league.teams.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.name) %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :away_team %>
      <%= f.select(:away_team) do %>
        <% @league.teams.each do |c| -%>
          <%= content_tag(:option, c.name, value: c.name) %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "txt-group" %>
    </div>
    <div class="form-group">
      <%= f.label :date %>
      <%= f.date_select :date, class: "txt-group" %>
    </div>
        <%= f.submit "Create Game", class: "btn btn-default" %>
  <% end %>
</div>
