<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
  </head>

<div id="teams-games">
  <h3><%=@league.sport%> League</h3>
  <h1>Game <%=@game.id%></h1>
  <h3><%=@home_team.name%> vs <%=@away_team.name%></h3>
  <h4>Location: <%=@game.address%></h4>
  <h4>Date: <%=@date%></h4>
  <h4>Time: <%=@time%></h4>

  <a href="http://maps.google.com/?q=<%=@game.address%>">Map </a>

  <div id="map-container">
    <div id="map"></div>
  </div>

<script src="//maps.google.com/maps/api/js?v=3.24&key=<%= ENV['MAP_KEY'] %>"></script>

<script type="text/javascript">


  $(document).ready(function() {
    initMap();
    });

    function initMap() {
      $('#teams-games').ready(function(event) {
        $.ajax({
            url: '/leagues/<%=@league.id%>/games/<%=@game.id%>',
            method: 'GET',
            data: false
          })
          .done(function(serverData) {
            console.log(serverData)
              var latLng = {lat: parseFloat(serverData[0]), lng: parseFloat(serverData[1])};
              console.log(latLng)
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: latLng
              });

              var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                title: 'Game Location'
              });
          })
      })
    }

</script>




 <% if logged_in? && @game.date < DateTime.now %>
   <% if @game.home_score == 0 && @game.away_score == 0 %>
   <p>GAME FINISHED! Submit score below!</p>
   <%= form_for :game, :method => :PUT do |f| %>
   <%= @home_team.name %> Score: <%= text_field_tag :home_score %>
   <%= @away_team.name %> Score: <%= text_field_tag :away_score %>
   <%= submit_tag "Submit" %>
 <% end %>
 <% else %>
 Home Score: <%= @game.home_score %> Away Score: <%= @game.away_score %>
 <% end %>
 <% end %>
</div>
