<div class="register">
  <%= form_for :player, url: '/players' do |f| %>
     <%= f.label :name %>
     <%= f.text_field :name %>

     <%= f.label :team %>
     <%= f.text_field :team %>

     <%= f.label :email %>
     <%= f.email_field :email %>

     <%= f.label :phone %>
     <%= f.telephone_field :phone %>

     <%= radio_button_tag(:coach, "coach") %>
     <%= label_tag(:coach, "I am a coach") %>

     <%= f.label :password %>
     <%= f.password_field :password %>

     <%= f.label :password_confirmation, "Confirmation" %>
     <%= f.password_field :password_confirmation %>

     <%= f.submit "Register" %>
   <% end %>
 </div>
