<h1><%= @team.name %> - <i><%= League.find(@team.league_id).sport %></i></h1>
<% @team.players.each do |player| %>
<li><%= player.name %> <br>
<i>Phone Number: <%= player.phone %></i></li>
<% end %>


<% @team.games.each do |game| %>
<p>Game: <%= game.id %><br>
Location: <%= game.location %><br>
Date: <%= game.date %><br></p>
<p><%= link_to 'Game details', league_game_path(@league, game) %></p>
<% end %>



<% if current_user.coach == true %>
<h2>Sign up a new team: </h2>
<%= form_for :player, url: league_team_path(@league, @team) do |f| %>
     <%= f.label :name %>
     <%= f.text_field :name %>

     <%= f.label :email %>
     <%= f.email_field :email %>

     <%= f.label :phone %>
     <%= f.telephone_field :phone %>

     <%= f.submit "Register" %>
<% end %>
<% end %>
