<!DOCTYPE html>
<html>
<head>
	<title>IntramuralSports</title>
	<%= csrf_meta_tags %>
<!-- 	<script src="http://maps.googleapis.com/maps/api/js"></script> -->
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
<!-- 	<script>
		function initialize() {
			var mapProp = {
				center:new google.maps.LatLng(51.508742,-0.120850),
				zoom:5,
				mapTypeId:google.maps.MapTypeId.ROADMAP
			};
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script> -->
</head>


  <body>
<% if logged_in? %>
<% p current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

    <%= yield %>
  </body>
</html>
